* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);

  height: 100%;

  font-family: 'Roboto Condensed', 'sans-serif';
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
  position: relative;
}
main {
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}
@media (max-width: 700px) {
  main {
    /*Mobile*/
    background: url(images/background.svg) no-repeat center/cover;
    display: block;
  }
  #menu {
    font-size: 1.2rem;
  }
  #titles {
    font-size: 1.8rem;
  }

  #praiseUrls {
    margin-top: 10rem;
    font-size: 0.7rem;
    margin-left: 2rem;
  }

  #worshipUrls {
    margin-top: 10rem;
    font-size: 0.7rem;
    margin-left: 2rem;
  }

  footer {
    margin-top: 28.5rem;
  }
}

@media (min-width: 701px) {
  main {
    /*Desktop*/
    background: url(images/desktop.svg) no-repeat center/cover;
    display: block;
  }
  #menu {
    font-size: 1.7rem;
  }
  #titles {
    font-size: 3rem;
  }

  #praiseUrls {
    margin-top: 1rem;
    margin-left: 4rem;
    font-size: 1rem;
  }
  #worshipUrls {
    margin-top: 1rem;
    margin-left: 4rem;
    font-size: 1rem;
  }
  footer {
    margin-top: 2.5rem;
  }
}
#menu {
  position: absolute;
  margin-top: -6rem;
}
.change:hover {
  color: chartreuse;
}

#menu ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  float: left;
  width: 100%;
}
#menu ul li {
  display: flex;
}
#titles {
  margin-top: 6rem;
  text-align: center;
  color: white;
}
#menuItens {
  margin-top: 4rem;
  margin-left: -1rem;
  position: relative;
  width: clamp(90vw, 90vw, 90vw);
  height: 31vw;
}
.praiseLinks,
.worshipLinks {
  position: absolute;
  width: 100%;
  height: 100%;
}

#praiseUrls,
#worshipUrls {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}
ul {
  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
  align-items: center;
}

footer {
  position: relative;
  justify-content: center;
}

.zoom {
  overflow: hidden;
}
.zoom img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.zoom:hover img {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
